#snake-field{
    display: inline-block;
}
#snake-new-game{
    width: 150px;
    padding: 15px;
    color: white;
    background-color: green;
    text-align: center;
    cursor: pointer;

}
.game-table{
    border-collapse: collapse;
    background-color: #808080;
}
td.game-table-cell{
    width: 15px;
    height: 15px;
    border: 1px dotted #9b9b9b;
}
.snake-unit{
    background-color: white;
}
.food-unit{
    background-color: red;
}

.barrier-unit{
    background-color: black;
}

.buttons{
    display: inline-block;
}

.score-field {
    text-align: center;
    font-size: 42px;
}

.wrap{
    margin: 30px auto 0;
    text-align: center;
}