.goods {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    min-height: 800px;
    margin: 0 auto;
    background-color: beige;
    padding: 30px;
}

.good {
    box-sizing: border-box;
    width: 190px;
    height: 200px;
    background-color: burlywood;
    margin: 0 5px 10px 5px;
    border: 1px solid black;
}

.good:hover {
    transform-origin: top;
    transform: scaleY(1.2);
}